.lead__subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: max(calc(0.05*100vw),16px);
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 16px 40px 16px;
}
@media screen and (min-width:768px) and (max-width:1023px){
  .lead__subtitle{
    font-size: 30px;
    line-height: 120%;
    margin: 0 64px 56px 64px;
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .lead__subtitle{
    font-size: 30px;
    line-height: 120%;
    margin: 0 144px 56px 144px;
  }
}
@media  screen and (min-width:1280px){
  .lead__subtitle{
    font-size: 30px;
    line-height: 120%;
    margin: 0 172px 64px 172px;
  }
}