.cover{
  margin: 0 0 64px 0;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 200px;
  width: 100%;
  height: auto;
  aspect-ratio: 1.6;
  z-index: 0;
  position: relative;
}
.cover::before{
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.cover:hover::before{
  opacity: 0.8;
}
@media screen and (min-width:768px){
  .cover{
    margin-bottom:88px;
  }
}
@media screen and (min-width:1024px){
  .cover{
    margin-bottom:92px;
  }
}
@media  screen and (min-width:1280px){
  .cover{
    margin-bottom: 92px;
    width: 92.5%;
  }
}