.place{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-areas:
  "title"
  "website"
  "image" minmax(320px,1fr)
  "paragraph";
  gap:32px;
}
@media screen and (min-width:768px) and (max-width:1023px){
  .place{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "title website"
    "image paragraph" minmax(340px,1fr);
    gap:48px 28px;
  }
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .place{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "title website"
    "image paragraph" minmax(440px,1fr);
    gap:48px 32px;
  }
}
@media  screen and (min-width:1280px){
  .place{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "title website"
    "image paragraph" minmax(460px,1fr);
    gap:48px 40px;
  }
}